.idea
*.lot
*.lof
*.ins
*.dtx

*synctex*

.directory
obselete/
.hgignore
*.ini
*.b
*.*mex*
*.*~
*.___

*.zip
*.rar
*.gz
*.tar

thesis.pdf
thesis_anon.pdf

thesis-0.pdf
thesis-1.pdf
a3cover_*.pdf
text/*.pdf

*.fig
*.diff
*.swp
*.mat
*.snm
*.nav

*.ps
*.Z
*.jpg
*.png
*.tiff

*.dvi
*.thm
*.log
*.blg
*.out
*.toc
*.aux

tmp/
*.bat
*.db
*.txt
*/toolbox/

*.bak
*.rtx
oexpress2013/mainNotes.bib
